.color1 { color: #e3eaf0}
.color2 { color: #eaeff5}
.color3 { color: #030b92}
.color4 { color: #000c86}
.color5 { color: #3a3e64}
.color6 { color: #000972}
.color7 { color: #010a8d}
.color8 { color: #bec3c6}
.color9 { color: #e7eef4}
.color10 { color: #4d5792}
.color11 { color: #fefefe}
.color12 { color: #8a8e91}

body {
  background: #ffffff;
  font-family: "Helvetica", "Arial", Tahoma, Arial, Helvetica, sans-serif;
  margin: 0 0 0 0;
}

h1 {
  margin: 0px 0px 10px 0px;
}

h3 {
  text-align: center;
  text-transform: uppercase;
  margin: 1% 0% 1% 0%;
}

h4 {
  text-align: left;
  font-weight: normal;
  font-size: 23px;
  padding: 0 2% 0 2%;
  margin: 1% 0 1% 0;
}

p {
  padding: 0 2% 0 2%;
}

img {
  text-align: center;
  max-width: 100%;
  height: auto;
  width: auto;
}

#wrapper {
  margin: 0 auto;
  width: 100%;
  background: #e9eff5;
  position: relative;
}

#wrapper-body {
  margin: 0 auto;
  max-width: 1200px;
  width: 96%;
  background: #e9eff5;
  padding: 2% 0 0 0;
  border-radius: 10px;
}

header {
  padding: 5px;
  text-align: center;
}


.clearfix {
  clear: both;
}

#social {
  text-align: center;
}

#social img {
  padding-top: 5px;
  height: 50px;
  width: 50px;
}

.table-side {
  padding: 0% 0% 0% 0%;
}

.left-col {
  width: 75%;
  float: left;
  border-radius: 0px;
}

.left-col-item {
  background: #fff;
  float: left;
  margin-bottom: 2%;
  border-radius: 0px;
  width: 49%;
  box-shadow: 4px 4px 2px #888888;
}

.left-col-top {
  background: #fff;
  float: left;
  margin-bottom: 2%;
  border-radius: 0px;
  width: 100%;
  box-shadow: 4px 4px 2px #888888;
}

.left-col-item h4 {
  text-align: left;
  font-weight: normal;
  font-size: 19px;
  padding: 0 4% 0 4%;
  margin: 1% 0 1% 0;
}

.left-col-item p {
  padding: 0 4% 0 4%;
  margin: 1% 0 4% 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.sidebar {
  width: 23%;
  float: right;
  border-radius: 0px;
}

.sidebar-item {
  background: #fff;
  float: right;
  margin-bottom: 7%;
  border-radius: 10px;
  width: 100%;
  border-style: solid;
  border-color: #AAAAAA;
  border-width: 1px;
}

footer {
  background: #020c90;
  border-radius: 0px;
  color: #fff;
}

.naviTable {
  border-color: inherit;
  width: 100%;
  border-collapse: collapse;
}

.naviTable tbody tr:nth-child(odd) {
  background: #ccc;
}

.naviTable tr:hover {
  background: #aaa;
}

.naviTable th, thead {

}


.site-wrap {
  min-width: 100%;
  min-height: 100%;
  background-color: #fff;
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
}

.mobile-view{
  display : none;
}


/*-------Media------*/

@media screen and (max-width: 1000px) {
  .left-col{
    width: 100%;
  }
  .sidebar {
    width: 100%;
  }
  .sidebar-item {
    width: 50%;
  }
  .sidebar-full {
    width: 100%;
  }
}


@media screen and (max-width: 750px) {
  .left-col {
    width: 100%;
  }
  
}


@media screen and (max-width: 500px) {
  body {
    font-size: 13px;
  }
  .sidebar-item {
    width: 100%;
  }
}

/*-------Loading spinner------*/


.spinner {
  margin: 100px auto;
  width: 32px;
  height: 32px;
  position: relative;
}

.cube1, .cube2 {
  background-image: images/f_icon.png.png;
  background-color: #020c90;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: cubemove 1.8s infinite ease-in-out;
  animation: cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}