<web-app>
  <display-name>Archetype Created Web Application</display-name>

	<servlet>
	  <servlet-name>Jersey REST Service</servlet-name>
	  <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
	  <init-param>
	    <param-name>javax.ws.rs.Application</param-name>
	    <param-value>fremad.gui</param-value>
	  </init-param>
	  <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
	  <servlet-name>Jersey REST Service</servlet-name>
	  <url-pattern>/api/*</url-pattern>
	</servlet-mapping>
	
</web-app>